
html, body {
    width: 100%;
}

body {
    background-color: black;
    color: white;
}

/* ======== WHOLE DESIGN PAGE ========= */

#main {
    position: relative;
}

#design_wrapper {
    width: 1002px;
    height: 588px;
    margin: 0px 9px;
}

#design_wrapper *:focus {
    outline: none;
}

.design {
    display: inline-block;
    vertical-align: top;
}

/* ======== TOP BAR ========= */
.title {
    display: inline-block;
    margin-top: 22px;
    margin-bottom: 16px;
    font-size: 21px;

    color: gray;
}

/* ======== CANVAS AND BUTTONS (LEFT SECTION) ========= */

#need_help_div {
    text-align: left;
    font-size: 12px;
    float: left;
    position: relative;
    top: 28px;
}

#need_help_div a {
    text-decoration: none;
    color: #EE008E;
}

#need_help_div a:hover {
    color: #FF009E;
}

#container {
    margin: auto;
    border: 5px solid #303030;
    border-radius: 16px;
    width: 592px;
    height: 432px;
}

#dimensions {
    font-size: 14px;
    float: left;
    position: relative;
    top: -45px;
    left: 15px;
    color: #cccccc;
}

#indicators {
    height: 92px;
    position: absolute;
    bottom: 0px;
}
.outset {
    display: inline-block;
    float: left;
    color: #cccccc;
    border-radius: 10px;
    height: 44px;
    margin-top: 32px;
    text-align: center;
}

.outset-black {
    padding-top: 3px;
    height: 41px;
}

#pre-assembled {
    width: 216px;
    font-align: right;
}

#check_container {
    display: inline-block;
}

#add_to_cart {
    margin-left: 8px;
    margin-right: 8px;
    width: 147px;

    font-size: 16px;
    font-weight: bold;
}

#cost {
    width: 216px;
}

/* ======== PARAMETERS (RIGHT SECTION) ========= */

#input {
    font-size: 16px;
}

.thin_row {
    height: 48px;
}
.row > div {
    display: inline-block;
}
.right_left_side {
    width: 155px;
}
.right_right_side {
    width: 230px;
}

.slider {
    height: 8px;
    background: #303030;
    border-color: #303030;
    border-radius: 16px;
}

.slider a.ui-slider-handle {
    width: 16px;
    height: 16px;
    border-radius: 16px;
}

#pdes {
    margin-top: 5px;
}

.pde_label {
    display: inline-block;
    margin-bottom: 10px;
}

#canvas_skew {
    border-radius: 16px;
}
#canvas_profile {
    border-radius: 16px;
}

/* ======== OUTSET GRADIENT DEFINITIONS ========= */
.outset-black {
    background: #4b4b4b; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRiNGI0YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM1JSIgc3RvcC1jb2xvcj0iIzBhMGEwYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYTBhMGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #4b4b4b 0%, #0a0a0a 35%, #0a0a0a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4b4b4b), color-stop(35%,#0a0a0a), color-stop(100%,#0a0a0a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4b4b4b 0%,#0a0a0a 35%,#0a0a0a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4b4b4b 0%,#0a0a0a 35%,#0a0a0a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4b4b4b 0%,#0a0a0a 35%,#0a0a0a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #4b4b4b 0%,#0a0a0a 35%,#0a0a0a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b4b4b', endColorstr='#0a0a0a',GradientType=0 ); /* IE6-8 */

}

.outset-pink {
    background: #f05891; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwNTg5MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM1JSIgc3RvcC1jb2xvcj0iIzlhMDAzYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5YTAwM2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f05891 0%, #9a003c 35%, #9a003c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f05891), color-stop(35%,#9a003c), color-stop(100%,#9a003c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f05891 0%,#9a003c 35%,#9a003c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f05891 0%,#9a003c 35%,#9a003c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f05891 0%,#9a003c 35%,#9a003c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f05891 0%,#9a003c 35%,#9a003c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f05891', endColorstr='#9a003c',GradientType=0 ); /* IE6-8 */
}

.outset-pink:hover {
    background: #d64f80; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q2NGY4MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM1JSIgc3RvcC1jb2xvcj0iIzdmMDAzMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZjAwMzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #d64f80 0%, #7f0030 35%, #7f0030 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d64f80), color-stop(35%,#7f0030), color-stop(100%,#7f0030)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d64f80 0%,#7f0030 35%,#7f0030 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d64f80 0%,#7f0030 35%,#7f0030 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d64f80 0%,#7f0030 35%,#7f0030 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d64f80 0%,#7f0030 35%,#7f0030 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d64f80', endColorstr='#7f0030',GradientType=0 ); /* IE6-8 */
}

/* Making outset-pink feel like a button */
.outset-pink {
    border: none;
}

.outset-pink:hover {
    cursor: pointer;
}

.outset-pink:active {
    background: #6f0024;
}

/* Making pre-assembled feel like a button */

#pre-assembled:hover {
    background: #3d3d3d; /* Old browsers */
    background: -moz-linear-gradient(top,  #3d3d3d 0%, #060606 35%, #060606 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d3d3d), color-stop(35%,#060606), color-stop(100%,#060606)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #3d3d3d 0%,#060606 35%,#060606 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #3d3d3d 0%,#060606 35%,#060606 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #3d3d3d 0%,#060606 35%,#060606 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #3d3d3d 0%,#060606 35%,#060606 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#020202',GradientType=0 ); /* IE6-9 */
}
#pre-assembled {
    border: none;
}

#pre-assembled:hover {
    cursor: pointer;
}

#pre-assembled:active {
    background: #060606;
}

