
html, body {
    width: 100%;
}

body {
    background-color: black;
    color: white;
}

/* ======== WHOLE DESIGN PAGE ========= */
#main {
    position: relative;
}

#design_wrapper {
    width: 1002px;
    height: 588px;
    margin: 0px auto;
}

#design_wrapper *:focus {
    outline: none;
}

.design {
    width: 1002px;
    clear: both;
}

.design_left_side {
    width: 630px;
    float: left;
}

.design_right_side {
    width: 368px;
    float: left;
}

/* ======== TOP BAR ========= */
#design_top {
    height: 54px;
}
#design_top > div {
    display: inline-block;
    margin-top: 24px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 18px;
}

/* ======== MIDDLE SECTION ========= */
#design_middle {
    height: 438px;
    font-size: 12px;
}
#design_middle > div {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

#container {
    margin: auto;
    float: left;
    border: 5px solid #303030;
    border-radius: 16px;
}

    /* ======== PARAMETER SECTION ========= */
    .thin_row {
        height: 36px;
    }
    .row > div {
        display: inline-block;
    }
    .right_left_side {
        width: 130px;
    }
    .right_right_side {
        width: 230px;
    }

    .slider {
        height: 8px;
        background: #303030;
        border-color: #303030;
        border-radius: 16px;
    }

    .slider a.ui-slider-handle {
        width: 16px;
        height: 16px;
        border-radius: 16px;
    }

    .pde_label {
        display: inline-block;
        margin-bottom: 10px;
    }

    #canvas_skew {
        border-radius: 16px;
    }
    #canvas_profile {
        border-radius: 16px;
    }

/* ======== BOTTOM BAR ========= */
#design_bottom {
    height: 92px;
}
#design_bottom > .design_left_side {
    position: relative;
    height: 92px;
}
.outset {
    display: inline-block;
    color: white;
    border-radius: 10px;
    height: 44px;
    margin-top: 27px;
    margin-bottom: 23px;
    text-align: center;
    position: absolute;
}

#dimensions {
    left: 0px;
    width: 196px;
}

#buy_me {
    left: 244px;
    width: 146px;
    font-size: 18px;
}

#cost {
    right: -5px;
    width: 196px;
}

.outset-black {
    background: #4b4b4b; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRiNGI0YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM1JSIgc3RvcC1jb2xvcj0iIzBhMGEwYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYTBhMGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #4b4b4b 0%, #0a0a0a 35%, #0a0a0a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4b4b4b), color-stop(35%,#0a0a0a), color-stop(100%,#0a0a0a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4b4b4b 0%,#0a0a0a 35%,#0a0a0a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4b4b4b 0%,#0a0a0a 35%,#0a0a0a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4b4b4b 0%,#0a0a0a 35%,#0a0a0a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #4b4b4b 0%,#0a0a0a 35%,#0a0a0a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b4b4b', endColorstr='#0a0a0a',GradientType=0 ); /* IE6-8 */

}

.outset-pink {
    border: none;


    background: #f05891; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwNTg5MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM1JSIgc3RvcC1jb2xvcj0iIzlhMDAzYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5YTAwM2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f05891 0%, #9a003c 35%, #9a003c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f05891), color-stop(35%,#9a003c), color-stop(100%,#9a003c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f05891 0%,#9a003c 35%,#9a003c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f05891 0%,#9a003c 35%,#9a003c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f05891 0%,#9a003c 35%,#9a003c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f05891 0%,#9a003c 35%,#9a003c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f05891', endColorstr='#9a003c',GradientType=0 ); /* IE6-8 */
}

.outset-pink:hover {

    cursor: pointer;


    background: #d64f80; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q2NGY4MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM1JSIgc3RvcC1jb2xvcj0iIzdmMDAzMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZjAwMzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #d64f80 0%, #7f0030 35%, #7f0030 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d64f80), color-stop(35%,#7f0030), color-stop(100%,#7f0030)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d64f80 0%,#7f0030 35%,#7f0030 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d64f80 0%,#7f0030 35%,#7f0030 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d64f80 0%,#7f0030 35%,#7f0030 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d64f80 0%,#7f0030 35%,#7f0030 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d64f80', endColorstr='#7f0030',GradientType=0 ); /* IE6-8 */
}

.outset-pink:active {
    background: #6f0024;
}
