
html, body {
    width: 100%;
}

body {
    background-color: black;
    color: white;
}

#main {
    position: relative;
}

#container {
    margin: auto;
    float: left;
    border: 5px solid #303030;
    border-radius: 16px;
}



#design_top {
    height: 58px;
}

#design_middle {
    height: 438px;
}

#design_bottom {
    clear: both;
    height: 92px;
}


#design_top > div {
    display: inline-block;
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 12px;
    margin-left: 0px;
    margin-right: 0px;
}

#design_middle > div {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

#design_bottom > .design_left_side > div {
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
}

.design {
    width: 1024px;
}

.design_left_side {
    width: 634px;
}

.design_right_side {
    width: 380px;
    font-size: 12px;
}

.thin_row {
    height: 38px;
}
.row > div {
    display: inline-block;
}
.right_left_side {
    width: 130px;
    /* vertical-align: super; */
}
.right_right_side {
    width: 230px;
}

.slider {
    vertical-align: text-top;
    height: 8px;
    background: #303030;
    border-color: #303030;
    border-radius: 16px;
}

.slider a.ui-slider-handle {
    width: 16px;
    height: 16px;
    border-radius: 16px;
}

.pde_label {
    display: inline-block;
    margin-bottom: 10px;
}

#canvas_skew {
    border-radius: 16px;
}
#canvas_profile {
    border-radius: 16px;
}

#buy_me {
    width: 150px;
    height: 50px;
}
