body {
	color: #FFFFFF;
	background-color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	margin: 0px;
	font-size: 16px;
}
#header {
	margin-top: 10px;
}
#header #headerlogo {
	width: 570px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

#header #headercart {
	color: #FFFFFF;
	text-align: right;
	width: 128px;
	font-size: 14px;
	position: absolute;
	right: 20px;
	top: 51px;
}
a {
	text-decoration: none;
	display: block;
	color: #999999;
}

#navparent {
	background-image: url(Images/navbar-background_06.png);
	background-repeat: repeat;
	height: 40px;
	width: 100%;
}


#navbar {
	height: 40px;
	color: #999999;
	text-align: center;
	width: 1000px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#navbar #work {
	height: 40px;
	width: 200px;
	float: left;
	line-height: 40px;
	display: block;
	background-image: url(Images/Nav%20Button%20reg%20left.png);
}
#navparent #navbar #work a:hover {
	color: #FFFFFF;
	background-image: url(Images/Nav%20Button%20hover%20left.png);
}

#navbar #instructions {
	height: 40px;
	width: 200px;
	float: left;
	line-height: 40px;
	display: block;
	background-image: url(Images/Nav%20Button%20reg%20left.png);
}
#navparent #navbar #instructions a:hover {
	color: #FFFFFF;
	background-image: url(Images/Nav%20Button%20hover%20left.png);
}

#navbar #design {
	height: 40px;
	width: 200px;
	float: left;
	color: #FFFFFF;
	line-height: 40px;
	background-image: url(Images/Nav%20Button%20reg%20left.png);
}

#navparent #navbar #design a:hover {
	background-image: url(Images/Nav%20Button%20hover%20left.png);
}
#navparent #navbar #design a {
	color: #FFFFFF;
	font-weight: bold;
}

#navbar #About {
	height: 40px;
	width: 200px;
	float: left;
	line-height: 40px;
	display: block;
	background-image: url(Images/Nav%20Button%20reg%20left.png);
}
#navparent #navbar #About a:hover {
	background-image: url(Images/Nav%20Button%20hover%20left.png);
	color: #FFFFFF;
}
#navbar #contact {
	height: 40px;
	width: 200px;
	float: left;
	line-height: 40px;
	display: block;
	background-image: url(Images/Nav%20Button%20reg%20right.png);
}
#navparent #navbar #contact a:hover {
	color: #FFFFFF;
	background-image: url(Images/Nav%20Button%20hover%20right.png);
}








#maincontent {
	margin-right: 20px;
	margin-left: 20px;
	text-align: center;
	height: 800px;
}
#footer {
	color: #999999;
	text-align: center;
	height: 20px;
	width: 100%;
	background-repeat: repeat;
	margin-bottom: 10px;
	background-image: url(Images/footer-background_02.png);
	font-size: 12px;
	line-height: 20px;
}
